*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.lol
*.nav
*.snm
*.vrb
*.xdv

*.nc

_build/
build/
latex.out/


*.blg
*.bbl

*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.xdy
*.nlo
*.nls

*.nav
*.snm
*.vrb

.vscode/
*.code-workspace

.DS_Store
.AppleDouble
.LSOverride
.Icon?
._*
.Spotlight-V100
.Trashes

.venv/
.pytest_cache/
.ruff_cache/
__pycache__/
results/
Euler_exact_Riemann-main/
simulations/
simulations1/
simulation1/
simulations2/
matlab/

*.egg-info/

simulation_results/